@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <br/>
    <p>Poate te intrebi de ce sa alegi aceasta aplicatie ca platforma de gestionare a taskurilor. Sau poate esti nehotarat fiindca nu stii ce functionalitati are aceasta platforma si ce plusuri aduce fata de altele. Sau poate doar vrei sa stii cum se utilizeaza si daca se potriveste cu modul tau de lucru.</p>
    <p>Sa iti dam cateva detalii in acest caz! =)</p>
    <br/>
    <p>Aceasta platforma de Task Management permite oricarui utilizator inregistrat sa creeze proiecte, iar apoi sa asigneze fiecare proiect unei echipe. Membrii echipei sunt alesi de catre utilizatorul care a creeat proiectul asignat echipei, iar acesta are oricand posibilitatea sa elimine sau sa adauge persoane in echipa, indiferent de stadiul proiectului.
        De asemenea, fiecare echipa are o pagina speciala unde pot fii vizualizati membrii echipei si taskurile, care sunt sortate pe categorii, astfel incat sa fie usor de urmarit statusul acestoa. Platforma permite o una functionare, deoarece fiecare task poate avea comentarii proprii adaugate de membrii echipei, ceea ce faciliteaza comunicarea intre coechipieri, prin intermediul platformei, fara a mai fii necesar sa foloseasca alte modalitati de comunicare.
        Toate datele sunt modificate in timp util, fara a exista necorelare intre membrii unei echipe.
    </p>
    <br />
    <p>
        Te-am convins sa incerci aceasta platforma? In orice caz o poti vizualiza si testa inregistrandu-te.
    </p>
</div>
